html {
    scroll-behavior: smooth;
}

.container {
    margin: 53px auto 0;

    @media screen and (max-width: 1279px) {
        margin: 22px auto 0;
    }
}

.container-width {
    max-width: 1200px;
    margin: 0 auto;  
    padding: 0 15px;

    @media screen and (max-width: 1279px) {
        max-width: 768px;
        padding: 0 24px;
    }

    @media screen and (max-width: 767px) {
        max-width: 375px;
        padding: 0 25px;
    }

    &_top-slide {
        @media screen and (max-width: 1279px) {
            padding: 0 20px;
        }
    }
}

main {
    padding: 29px 0 33px;
}

body {
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}