html {
    scroll-behavior: smooth;
}

.container {
    margin: 53px auto 0;
}

.container-width {
    max-width: 1171px;
    margin: 0 auto;

    @include media('<=desktop') {
        max-width: 720px;
    }
}

main {
    padding: 29px 0 33px;
}

body {
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}