.about-project {
    padding: 45px 0;
    margin-bottom: 47px;

    &__title-holder {

        & h2 {
            font-size: 36px;
            margin-bottom: 35px;

            @media screen and (max-width: 1279px) {
                font-size: 24px;
                font-weight: 500;
            }
        }

        & h4 {
            font-size: 18px;
            padding-top: 21px;
            margin-bottom: 10px;

            @media screen and (max-width: 1279px) {
                font-size: 16px;
            }
        }

        &_center h2 {
            text-align: center;
        }
    }

    &__span-holder {
        font-size: 14px;
        font-weight: 300;
        color: $grey;   
        padding-top: 5px;
        margin-bottom: 25px;

        @media screen and (max-width: 1279px) {
            order: 1;
        }
    }

    &__swiper-button-wrap {
        position: relative;
        overflow: visible;
        min-height: 84px;
        margin-bottom: 15px;
    }

    &__photo-swiper {
        overflow: hidden;
        position: relative;
 
        padding: 0 calc((100% - 1170px) / 2);
        margin-bottom: 45px;

        @media screen and (max-width: 1279px) {
            padding: 0 calc((100% - 720px) / 2);
        }

        @media screen and (max-width: 767px) {
            padding: 0 calc((100% - 325px) / 2);
        }
    }

    &__content-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 25px;
        margin-bottom: 20px;

        &_2 {
            @media screen and (max-width: 1279px) {
                order: 3;
            }
        }

        &_3 {
            @media screen and (max-width: 1279px) {
                order: 2;
            }
        }
    }

    &__text-wrap {
        max-width: 565px;
        line-height: 31px;
        font-size: 18px;
        color: $grey;
        padding-left: 13px;

        &_order {
            @media screen and (max-width: 1279px) {
                order: 2;
            }
        }

        &:first-child {
            padding-left: 25px;

            @media screen and (max-width: 1279px) {
                padding-left: 0;
            }
        }

        @media screen and (max-width: 1279px) {
            padding-left: 0;
            font-size: 16px;
            max-width: inherit;
            padding-top: 15px;
        }
    }

    &__our-workers {
        margin-bottom: 50px;

        @media screen and (max-width: 1279px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__our-team {
        padding-top: 38px;
    }

    &__img-holder-top {
        max-width: 478px;

        &_big {
            max-width: 100%;

            @media screen and (max-width: 1279px) {
                order: 1;
            }
        }

        @media screen and (max-width: 1279px) {
            max-width: inherit;
        }
    }

    &__img-holder-bot {
        margin: 0 auto;
        border-radius: 136px;

        @media screen and (max-width: 1279px) {
            max-width: 147px;
        }

        @media screen and (max-width: 767px) {
            max-width: 96px;
        }
    }

    &__photo-item {
        text-align: center;

        &:nth-child(even) {
            padding-top: 56px;

            @media screen and (max-width: 1279px) {
                padding-top: 45px;
            }

            @media screen and (max-width: 767px) {
                padding-top: 29px;
            }
        }
    }

    &__span-holder-bot {
        color: $grey;
        max-width: 206px;
        text-align: center;
        margin: 0 auto;

        @media screen and (max-width: 1279px) {
            font-size: 14px;
            letter-spacing: -0.1px;
        }
    }

    &__photo-block {
        list-style: none;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        min-width: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 44px;
        height: 44px;
        background-color: #2B75B5;
        color: white;
        border-radius: 50%;
        top: unset;
        transition: all ease-in-out 0.3s;
        right: 0;
        bottom: 0;

        &:hover {
            box-shadow: 0 0 15px $blue;
        }

        &::after {
            font-size: 18px;
            font-weight: 600;
        }

        &.swiper-button-disabled {
            width: 30px;
            height: 30px;
            background-color: transparent;
            color: #4D4D4D;
            border: 1px solid #4D4D4D;
            opacity: 1;

            &::after {
                font-size: 13px;    
                font-weight: 600;
            }
        }
    }

    .swiper-button-prev {
        right: 50px;
        left: unset;
        &.swiper-button-disabled {
            right: 64px;
        }
    }

    .swiper-button-next {
        &::after {
            transform: translateX(25%);
        }
    }
}