.articles {
    padding-top: 40px;
    margin-bottom: 45px;
    position: relative;
    overflow: hidden;
    padding-top: 20px;

    &__head-title {
        position: relative;
        padding-top: 5px;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 85%;
            min-width: 97%;
            border-radius: 30px;
            background-color: #E5AA2A;
            filter: blur(15px);
            opacity: 0.7;
            z-index: -1;
        }

        & h2 {
            font-size: 36px;
            font-weight: 400;
            position: relative;
            z-index: 2;

            @media screen and (max-width: 1279px) {
                font-size: 24px;
            }
        }
    }

    &__swiper-button-wrap {
        position: relative;
        overflow: visible;
        min-height: 84px;
        margin-bottom: 15px;
    }

    &__head-label {
        font-size: 18px;
        font-weight: 300;
        color: $grey;
        text-decoration: none;
        position: relative;
        z-index: 3;
        transition: all ease-in-out 0.1s;
        cursor: pointer;
        margin-left: 30px;
        user-select: none;

        &:hover {
            color: #000000;
        }

        &:active {
            color: #000000;
        }
    }
    
    &__head-hidden-input {
        display: none;
    }

    &__head-item {
        position: relative;
        z-index: 2;
        transition: all ease-in-out 0.3s;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 100%;
            border-radius: 30px;
            background-color: $orange;
            filter: blur(20px);
            z-index: 1;
            transition: all ease-in-out 0.3s;
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 1;
            }

            .articles__head-link {
                color: #000000;
            }
        }

        &:active {
            .articles__head-link {
                color: #000000;
            }
        }
    }

    &__image-block {
        width: 377px;
        position: relative;

        @media screen and (max-width: 1279px) {
            width: 350px;
        }

        @media screen and (max-width: 767px) {
            width: 325px;
        }
    }

    &__image-wrap {
        display: flex;
    }

    &__shadow {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        background-color: rgba(0,0,0, 0.2);
        z-index: 2;
        border-radius: 10px;
    }

    &__image-text {
        position: absolute;
        width: 377px;
        border-bottom: 31px solid $orange;;
        border-radius: 10px;
        max-width: 100%;
        padding: 0 15px 0 23px;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        z-index: 5;
        color: white;
        font-weight: 300;

        & span {
            position: relative;
            bottom: -26px;
        }
    }

    &__swiper {
        position: absolute;
        left: 0;
        top: 68px;
        visibility: hidden;
        opacity: 0;
        transition: all ease-in-out 0.4s;
        padding: 34px 0 44px;
        transform: translateX(1500px);
        min-height: 576.5px;

        @media screen and (max-width: 767px) {
            max-width: 325px;
        }
    }

    &__content-list {
        display: flex;
        list-style: none;
        min-width: 0;
    }

    &__content-title {
        max-width: 345px;
        margin-bottom: 10px;

        h4 {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__content-text-total {
        max-width: 377px;
        padding-top: 25px;
        margin-bottom: 25px;
    }

    &__content-text {
        line-height: 21px;
    }

    &__button-wrap {
        position: relative;
        max-width: max-content;
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: 10px;
            min-height: 30px;
            min-width: 120px;
            border-radius: 30px;
            background-color: $orange;
            filter: blur(20px);
            z-index: -1;
            transition: all ease-in-out 0.3s;
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }

    &__button {
        border: 0;
        background-color: transparent;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        cursor: pointer;
        z-index: 3;

        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 2px;
            background-color: #000000;
            top: 8px;
            left: 110%;
            transition: all ease-in-out 0.3s;
        }

        &::after {
            content: url(../img/articles-arrow-half.svg);
            position: absolute;
            right: -37px;
            top: 0;
            transform: rotate(-90deg);
            transition: all ease-in-out 0.3s;
        }

        &:hover {
            &::after {
                right: -55px;
            }

            &::before {
                width: 42px;
            }
        }

        &:active {
            text-decoration: underline;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 44px;
        height: 44px;
        background-color: #2B75B5;
        color: white;
        border-radius: 50%;
        top: unset;
        transition: all ease-in-out 0.3s;
        right: 0;
        bottom: 0;

        &:hover {
            box-shadow: 0 0 15px $blue;

            @media screen and (max-width: 1279px) {
                box-shadow: none;
            }
        }

        &::after {
            font-size: 18px;
            font-weight: 600;
        }

        &.swiper-button-disabled {
            width: 30px;
            height: 30px;
            background-color: transparent;
            color: #4D4D4D;
            border: 1px solid #4D4D4D;
            opacity: 1;

            &::after {
                font-size: 13px;    
                font-weight: 600;
            }
        }
    }

    .swiper-button-prev {
        right: 50px;
        left: unset;
        &.swiper-button-disabled {
            right: 64px;
        }
    }

    .swiper-button-next {
        &::after {
            transform: translateX(25%);
        }
    }

    #articles-first:checked~.articles__swiper-1,
    #articles-second:checked~.articles__swiper-2,
    #articles-third:checked~.articles__swiper-3,
    #articles-four:checked~.articles__swiper-4 {
        position: static;
        visibility: visible;
        opacity: 1;
        left: 0;
        transform: translateX(0);
    }

    #articles-first:checked~#articles-first-label,
    #articles-second:checked~#articles-second-label,
    #articles-third:checked~#articles-third-label,
    #articles-four:checked~#articles-four-label {
        color: #000000;
        font-weight: 400;

        &::before {
            opacity: 1;
        }
    }
}