.page-foot {
    align-items: center;
    justify-content: center;
    position: relative;

    @media screen and (max-width: 1280px) {
        padding-top: 35px;
    }

    &::before {
        content: '';
        max-width: 100%;
        height: 1px;
        width: 100vw;
        background-color: $grey;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    &::after {
        content: '';
        max-width: 100%;
        height: 1px;
        width: 100vw;
        background-color: #E5E5E5;
        display: block;
        position: absolute;
        top: 46%;
        left: 0;

        @media screen and (max-width: 1280px) {
            top: 67%;
        }

        @media screen and (max-width: 767px) {
            top: 58%;
        }
    }

    &__blocks-wrap {
        &:nth-child(1),
        &:nth-child(2) {
            @media screen and (max-width: 767px) {
                width: 50%;
            }
        }
    }

    &__bottom-logo-wrap {
        display: none;

        @media screen and (max-width: 1280px) {
            display: flex;
        }
    }

    &__upper-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
        padding-top: 41px;
        flex-wrap: wrap;
        gap: 45px 0;

        @media screen and (max-width: 1280px) {
            margin-bottom: 50px;
        }
    }

    &__left-content, &__right-content {
        display: flex;
    }

    &__item {
        &_icon {
            border: 3px solid transparent;
            border-radius: 50%;
            transition: all ease-in-out 0.5s;
            outline: 0.5px solid transparent;
    
            &:hover {
                transform: rotate(360deg);
                outline: 0.5px solid $darkBlue;
            }
        }
    }

    &__img-wrap {
        &_ball img {
            border-radius: 50%;
        }

        &_right {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;

            @media screen and (max-width: 1280px) {
                height: 65px;
            }
        }
        
        &_british {
            @media screen and (max-width: 1280px) {
                margin-left: 13px;
            }
        }

        &_center {
            align-self: center;
        }

        &_icon {
            width: 40px;
            height: 40px;
            background-color: $blue;
            border: 3.5px solid transparent;
            border-radius: 50%;
            transition: all ease-in-out 0.3s;

            & img {
                max-width: 82%;
                max-height: 82%;
            }

            &:active {
                background-color: $darkBlue;
            }

            @media screen and (max-width: 1280px) {
                width: 35px;
                height: 35px;
            }
        }

        &_fb {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_tg {
            display: flex;
            align-items: center;
            padding-left: 8%;
        }

        &_ig {
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 1280px) {
                padding-left: 2%;
            }
        }

        &_map {
            display: flex;
        }
    }

    &__item-link {
        color: $grey;
        text-decoration: none;
        font-weight: 300;

        &_about {
            font-size: 18px;
            font-weight: 500;

            @media screen and (max-width: 1280px) {
                font-size: 16px !important;
            }
        }

        @media screen and (max-width: 1280px) {
            font-size: 14px;
        }
    }

    &__interactive-map-wrap {
        max-width: 192px;
        position: relative;
        max-width: 100%;
        cursor: pointer;
    }

    &__span-wrap {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        background-color: $orange;
        padding: 6px 15px 5px;
        border-radius: 14px;
        color: white;
        font-size: 14px;
        z-index: 3;
    }

    &__bottom-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 45px 0 20px;

        @media screen and (max-width: 1280px) {
            gap: 90px 0;
            padding: 0 0 20px 0;
        }

        @media screen and (max-width: 1280px) {
            gap: 50px 0;
        }
    }

    &__partners-left {
        display: flex;
        gap: 105px;
        padding-top: 38px;
        flex-wrap: wrap;

        @media screen and (max-width: 1280px) {   
            padding-top: 35px;
        }
    }

    &__partners-dual {
        display: flex;
        flex-wrap: wrap;
        max-width: 358px;
        justify-content: space-around;
        height: 116px;

        @media screen and (max-width: 1280px) {
            max-width: 100%;
            height: inherit;
            gap: 33px;
        }
    }

    &__partners-crisis {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        margin-right: 195px;

        @media screen and (max-width: 1280px) {
            align-items: flex-start;
            padding-top: 23px;
        }

        @media screen and (max-width: 767px) {
            margin: 0 auto;
            padding-top: 0;
        }
    }

    &__partners-concate {
        display: flex;
        font-size: 14px;
        gap: 47px;
        height: 116px;

        @media screen and (max-width: 1280px) {
            font-size: 12px;
        }
    }

    &__partners-beetroot {
        max-width: 121px;
        text-align: center;
        height: 100%;

        @media screen and (max-width: 1280px) {
            max-width: 174px;
        }
    }

    &__partners-gds {
        max-width: 89px;
        text-align: center;
        height: 100%;

        @media screen and (max-width: 1280px) {
            max-width: 96px;
        }
    }

    &__left-partners-text {
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        padding-top: 4px;
        color: #4D4D4D;

        @media screen and (max-width: 1280px) {
            font-size: 14px;
            max-width: 318px;
        }
    }

    &__crisis-partners-text {
        font-size: 14px;
        align-items: center;
        color: #4D4D4D;

        @media screen and (max-width: 1280px) {
            font-size: 12px;
        }
    }

    &__list {
        list-style: none;
        max-width: 192px;
        padding-top: 20px;

        &_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px 23px;

            @media screen and (max-width: 1280px) {
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }

        &_flex {
            display: flex;
            flex-direction: column;
            gap: 12px;

            @media screen and (max-width: 1280px) {
                gap: 20px;
            }
        }

        &_contact {
            display: flex;
            gap: 13px;
            padding-top: 15px;
            flex-wrap: wrap;
        }

        &_about {
            display: flex;
            flex-direction: column;
            gap: 26px;
            padding-top: 0 !important;

            @media screen and (max-width: 1280px) {
                gap: 20px;
            }
        }

        &_contact {
            transition: all ease-in-out 0.9s;

            @media screen and (max-width: 1280px) {
                padding-top: 20px !important;
            }
        }

        @media screen and (max-width: 1280px) {
            padding-top: 5px;
        }
    }

    &__blocks-wrap {
        order: 1;

        & > span {
            font-size: 18px;
            font-weight: 500;
            color: $grey;

            @media screen and (max-width: 1280px) {
                font-size: 16px;
            }
        }

        &_map {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (max-width: 1280px) {
                order: 2;
                padding-top: 40px;
            }

            @media screen and (max-width: 1280px) {
                padding-top: 5px;
            }
        }
    }

    &__adapt-hide {
        @media screen and (max-width: 1280px) {
            display: none;
        }
    }

    &__partners-link {
        color: $grey;

        &_top {
            display: flex;
        }

        &_crisis {
            margin-bottom: 35px;

            @media screen and (max-width: 1280px) {
                margin-bottom: 20px;
                display: flex;
            }

            img {
                @media screen and (max-width: 1280px) {
                    max-width: 85%;
                } 
            }
        }
    }

    &__partners-text {
        padding-top: 4px;
        line-height: 18px;
        padding-left: 5px;

        @media screen and (max-width: 1280px) {
            padding-left: 0;
        }
    }
}