.hot-spot {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 535px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 10px;

    &__text-wrap {
        margin-bottom: 90px;

        @include media('<=desktop') {
            margin-bottom: 40px;
        }
    }

    &__title h1 {
        font-size: 48px;
        font-weight: 500;
        color: #fff;

        @include media('<=desktop') {
            font-size: 29px;
        }
    }

    &__mouse-scroll {
        position: absolute;
        left: 50%;
        bottom: 124px;
        transform: translate(-16px, -4px);
    }

    &__mouse-link {
        display: flex;

        img {
            @include media('<=desktop') {
                visibility: hidden;
            }
        }

        &::before {
            content: url(../img/arrow-map-scroll.png);
            position: absolute;
            top: 65px;
            left: 50%;
            transform: translate(-50%, 0);
            animation: scroll-map-hot 1s infinite;
        }
    }

    @include media('<=desktop') {
        min-height: 326px;
        border-radius: 6px; 
    }

    @keyframes scroll-map-hot {
        0% {
            transform: translate(-50%, 0);
        }
    
        50% {
            transform: translate(-50%, 21px);
        }

        100% {
            transform: translate(-50%, 0);
        }
    }
}