.hot-spot {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 535px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 10px;
    max-width: 1170px;

    @media screen and (max-width: 1279px) {
        min-height: 326px;
        border-radius: 6px; 
        max-width: 720px;
    }

    @media screen and (max-width: 767px) {
        min-height: 484px;
        border-radius: 10px;
        max-width: 325px;
    }

    &__text-wrap {
        margin-bottom: 90px;

        @media screen and (max-width: 1279px) {
            margin-bottom: 40px;
        }
    }

    &__title h1 {
        font-size: 48px;
        font-weight: 500;
        color: #fff;
        text-align: center;

        @media screen and (max-width: 1279px) {
            font-size: 29px;
        }

        @media screen and (max-width: 767px) {
            font-size: 24px;
        }
    }

    &__mouse-scroll {
        position: absolute;
        left: 50%;
        bottom: 124px;
        transform: translate(-16px, -4px);
    }

    &__mouse-link {
        display: flex;

        img {
            @media screen and (max-width: 1279px) {
                visibility: hidden;
            }
        }

        &::before {
            content: url(../img/arrow-map-scroll.png);
            position: absolute;
            top: 65px;
            left: 50%;
            transform: translate(-50%, 0);
            animation: scroll-map-hot 1s infinite;
        }
    }

    @keyframes scroll-map-hot {
        0% {
            transform: translate(-50%, 0);
        }
    
        50% {
            transform: translate(-50%, 21px);
        }

        100% {
            transform: translate(-50%, 0);
        }
    }
}