:root {
    --text-height: 69px;
    --height: 302px;

    @media screen and (max-width: 1279px) {
        --text-height: 40px;
        --height: 200px;
    }

    @media screen and (max-width: 767px) {
        --height: 400px;
    }
}

.interactive-map {
    padding-bottom: 55px;

    &__title-block {
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 38px;

        @media screen and (max-width: 375px) {
            max-width: 231px;
        }

        & h2 {
            font-size: 36px;

            @media screen and (max-width: 1279px) {
                font-size: 24px;
                font-weight: 500;
            }
        }

        @media screen and (max-width: 1279px) {
            margin-bottom: 25px;
        }
    }

    &__title-text {
        max-width: 868px;
        font-size: 18px;
        padding-left: 3px;
        line-height: 26px;
        color: $grey;

        @media screen and (max-width: 1279px) {
            font-size: 16px;
            max-width: 535px;
        }

        @media screen and (max-width: 375px) {
            padding-left: 0;
        }
    }

    &__map-block {
        max-height: 541px;
        max-width: 595px;
    }

    &__main-content {
        display: flex;
        gap: 25px;

        @media screen and (max-width: 1279px) {
            flex-wrap: wrap;
        }
    }

    &__name {
        font-size: 18px;
        margin-bottom: 23px;

        @media screen and (max-width: 1279px) {
            padding-top: 0;
            max-width: 345px;
            font-size: 16px;
        }

        & b {
            font-weight: 500;
        }
    }

    &__right-content-block {
        padding-top: 8px;
        position: relative;
        max-width: 551px;

        @media screen and (max-width: 1279px) {
            padding-top: 0;
            max-width: 345px;
        }
    }

    &__content-title {
        margin-bottom: 10px;

        h4 {
            font-size: 18px;
            font-weight: 500;

            @media screen and (max-width: 1279px){
                font-size: 16px;
            }
        }
    }

    &__content-text {
        font-size: 18px;
        color: $grey;
        margin-bottom: 25px;
        line-height: 27px;

        @media screen and (max-width: 1279px) {
            font-size: 14px;
            line-height: 21.1px;
            word-spacing: -0.1px;
        }

        @media screen and (max-width: 767px){
            font-size: 16px;
        }
    }

    &__material-title {
        margin-bottom: 10px;

        h4 {
            font-size: 18px;
            font-weight: 500;
            color: #0A0A21;

            @media screen and (max-width: 1279px) {
                font-size: 16px;
            }
        }
    }

    &__content-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        max-height: 302px;
        animation: height-animation-revert 0.8s 1;

        @media screen and (max-width: 1279px) {
            max-height: 200px;
        }

        @media screen and (max-width: 767px) {
            max-height: 400px;
        }

        &_blocker {
            animation: height-animation 2.5s 1;
            max-height: unset;
        }
    }

    &__content-item {
        padding: 9px 12px 12px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        line-height: 23px;
        position: relative;
        cursor: pointer;
        transition: all ease-in-out 0.3s;

        @media screen and (max-width: 1279px) {
            padding: 25px 33px 25px 10px;
        }

        &_open {
            background-color: $orange;
            padding: 46px 14px 56px;

            @media screen and (max-width: 1279px) {
                padding: 26px 10px 44px;
            }

            .interactive-map__item-text_block {
                animation: height-small 2.5s 1;
                max-height: max-content;
            }

            .interactive-map__item-text {
                color: black;
                max-width: max-content;
            }

            &::before {
                border: 0 !important;
            }

            .interactive-map__button-close {
                display: block;
            }
        }

        &::before {
            content: '';
            position: absolute;
            right: 25px;
            bottom: 17px;
            width: 40px;
            height: 0;
            border-bottom: 10px dotted $orange;
            transition: all ease-in-out 0.3s;

            @media screen and (max-width: 1279px) {
                right: 10px;
                bottom: 10px;
                width: 30px;
                height: 0;
                border-bottom: 7px dotted $orange;                
            }
        }

        &:hover {
            background-color: $orange;

            &::before {
                border-bottom: 10px dotted $blue;

                @media screen and (max-width: 1279px) {
                    border-bottom: 7px dotted $blue;                
                }
            }

            .interactive-map__item-text {
                color: black;
            }
        }
    }

    &__button-close {
        width: 0;
        height: 0;
        border: 0;
        cursor: pointer;
        display: none;

        &::before {
            content: url(../img/closeBlock.svg);
            position: absolute;
            right: 25px;
            bottom: 10px;

            @media screen and (max-width: 1279px) {
                right: 3px;
                bottom: 0;
            }
        }
    }

    &__item-text {
        overflow: hidden;
        max-width: 435px;
        color: $grey;
        transition: all ease-in-out 0.3s;
        animation: height-small-revert 0.5s 1;

        &_block {
            max-height: 69px;

            @media screen and (max-width: 1279px) {
                max-height: 40px;
                line-height: 20px;
            }
        }
    }

    &__list-button-wrap {
        text-align: center;
        padding-top: 10px;
    }

    &__list-button {
        height: 37px;
        width: 37px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $blue;
        border: 0;
        transform: translate(-2px, 2px);
        transition: all ease-in-out 0.3s;

        &::before {
            content: url(../img/arrow.png);
            position: absolute;
            transform: translate(-50%, -75%);
            transition: all ease-in-out 0.5s;
        }

        &:hover {
            filter: drop-shadow(0px 0px 15px $blue);

            @media screen and (max-width: 1279px) {
                filter: none;
            }
        }
    }

    &__list-button-back {
        height: 37px;
        width: 37px;
        cursor: pointer;
        border-radius: 50%;
        background-color: $blue;
        border: 0;
        transition: all ease-in-out 0.3s;

        &::before {
            content: url(../img/arrow.png);
            position: absolute;
            transform: translate(-48%, -25%) rotate(360deg) scale(1, -1);
            transition: all ease-in-out 0.5s;
        }
    }

    #map {
        min-height: 572px;
        min-width: 595px;
    
        @media screen and (max-width: 1279px) {
            min-height: 468px;
            max-height: 468px;
            min-width: 350px;
        }
    
        @media screen and (max-width: 767px) {
            min-height: 355px;
            max-height: 355px;
            min-width: 327px;
        }
    }
    
    @keyframes height-animation {
        0% {
            max-height: var(--height);
        }
        50% {
            max-height: 1002px;
        }
        100% {
            max-height: unset;
        }
    }
    
    @keyframes height-animation-revert {
        0% {
            max-height: unset;
        }
        50% {
            max-height: 1002px;
        }
        100% {
            max-height: var(--height);
        }
    }

    @keyframes height-small {
        from {
            max-height: var(--text-height);
        }
        50% {
            max-height: 700px;
        }
        to {
            max-height: max-content;
        }
    }

    @keyframes height-small-revert {
        from {
            max-height: max-content;
        }
        50% {
            max-height: 700px;
        }
        to {
            max-height: var(--text-height);
        }
    }
}

