.request-block {
    padding: 85px 0 35px;

    &__title-holder {
        max-width: 600px;

        h2 {
            font-size: 36px;
            font-weight: 500;
            }

        &_block-title {
            margin-bottom: 35px;
        }
    }

    &__content-title {
        transform: translateX(-2px);

        h4 {
        font-size: 18px;
        font-weight: 500;
        }
    }

    &__info-box-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        list-style: none;
    }

    &__info-box {
        width: 574px;
        padding: 51px 56px 50px 27px;
        background-color: #fff;
        border-radius: 10px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.13));
        transition: all ease-in-out 0.3s;

        &:hover {
            color: #fff;
            background-color: $blue;

            & .request-block__text-holder {
                color: #fff;
            }

            & .request-block__button {
                background-color: $orange;
                color: #fff;
                border: 1px solid transparent;
            }

        }

        & .request-block__button:active {
            background-color: #DE9E12;
        }
    }
    
    &__text-holder {
        padding: 26px 0 27px;
        color: $grey;
        transition: all ease-in-out 0.3s;
        transform: translateX(-2px);
        line-height: 23px;

        &_half {
            max-width: 315px;
        }
    }

    &__button {
        padding: 10px 0 8px;
        color: $grey;
        background-color: transparent;
        border: 1px solid $grey;
        border-radius: 19px;
        min-width: 204px;
        cursor: pointer;
        font-size: 16px;
        transition: all ease-in-out 0.3s;
        transform: translateX(-2px);
    }
}