.special-project {
    position: relative;
    padding-top: 37px;
    padding-bottom: 84px;
    margin-bottom: 45px;

    &__block-title {
        padding-bottom: 35px;

        & h2 {
            font-size: 36px;

            @media screen and (max-width: 1280px) {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }

    &__list {
        list-style: none;
        min-width: 0;
    }
    
    &__item {
        max-width: 575px;

        &:nth-child(even) {

            & .special-project__background-wrap {
                background-color: $orange;
            }

            & .special-project__text-content-wrap {
                padding-left: 27px;

                @media screen and (max-width: 1280px) {
                    padding: 0;
                }
            }
            
            & .special-project__text-content {
                color: $beige;
            }
        }
    }

    &__item-link {
        text-decoration: none;
        display: block;
    }

    &__imp-wrap {
        display: flex;
    }

    &__swiper {
        overflow: hidden;
    }

    &__background-wrap {
        background-color: $blue;
        padding: 30px 13px 15px 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &__text-content-wrap {
        color: white;
    }

    &__text-title {
        padding-bottom: 10px;
        max-width: 377px;

        & h4 {
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__text-content {
        max-width: 377px;
        color: $lightBlue;
        margin-bottom: 6px;
        line-height: 21.5px;
    }

    &__date {
        text-align: end;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 44px;
        height: 44px;
        background-color: #2B75B5;
        color: white;
        border-radius: 50%;
        top: unset;
        transition: all ease-in-out 0.3s;
        right: 12px;
        bottom: 12px;

        &:hover {
            box-shadow: 0 0 15px $blue;
        }

        &::after {
            font-size: 18px;
            font-weight: 600;
        }

        &.swiper-button-disabled {
            width: 30px;
            height: 30px;
            background-color: transparent;
            color: #4D4D4D;
            border: 1px solid #4D4D4D;
            opacity: 1;

            &::after {
                font-size: 13px;    
                font-weight: 600;
            }
        }
    }

    .swiper-button-prev {
        right: 76px;
        left: unset;
    }

    .swiper-button-next {
        &.swiper-button-disabled {
            right: 26px;
        }

        &::after {
            transform: translateX(25%);
        }
    }
}