.special-project {
    position: relative;
    padding-top: 37px;
    padding-bottom: 84px;

    &__block-title {
        padding-bottom: 35px;

        & h2 {
            font-size: 36px;

            @media screen and (max-width: 1279px) {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }

    &__list {
        list-style: none;
        min-width: 0;
    }
    
    &__item {
        max-width: 575px;

        &:nth-child(even) {
            & .special-project__background-wrap {
                background-color: $orange;
            }

            & .special-project__text-content-wrap {
                padding-left: 27px;

                @media screen and (max-width: 1279px) {
                    padding: 0;
                }
            }
            
            & .special-project__text-content {
                color: $beige;
            }
        }
    }

    &__item-link {
        text-decoration: none;
        display: block;
    }

    &__imp-wrap {
        display: flex;
    }

    &__swiper {
        overflow: hidden;
        padding: 0 calc((100% - 1170px) / 2);
        margin-bottom: 45px;

        @media screen and (max-width: 1279px) {
            padding: 0 calc((100% - 720px) / 2);
        }

        @media screen and (max-width: 767px) {
            padding: 0 calc((100% - 325px) / 2);
        }
    }

    &__swiper-button-wrap {
        position: relative;
        overflow: visible;
        min-height: 84px;
        margin-bottom: 45px;
    }

    &__background-wrap {
        background-color: $blue;
        padding: 30px 13px 15px 25px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &__text-content-wrap {
        color: white;
    }

    &__text-title {
        padding-bottom: 10px;
        max-width: 377px;

        & h4 {
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__text-content {
        max-width: 377px;
        color: $lightBlue;
        margin-bottom: 6px;
        line-height: 21.5px;
    }

    &__date {
        text-align: end;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 44px;
        height: 44px;
        background-color: #2B75B5;
        color: white;
        border-radius: 50%;
        top: unset;
        transition: all ease-in-out 0.3s;
        right: 0;
        bottom: 0;

        &:hover {
            box-shadow: 0 0 15px $blue;
        }

        &::after {
            font-size: 18px;
            font-weight: 600;
        }

        &.swiper-button-disabled {
            width: 30px;
            height: 30px;
            background-color: transparent;
            color: #4D4D4D;
            border: 1px solid #4D4D4D;
            opacity: 1;

            &::after {
                font-size: 13px;    
                font-weight: 600;
            }
        }
    }

    .swiper-slide {
        &::before {
            content: url(../img/specialProjBlur.png);
            position: absolute;
            z-index: -1;
            left: -10%;
            top: -10%;
            transition: all ease-in-out 0.3s;
            opacity: 0;
            width: 492px;
            height: 451px;
            

            @media screen and (max-width: 1279px) {
                content: url(../img/specialProjBlurTablet.png);
                filter: blur(20px);
            }
        }
    }

    .swiper-slide-active {
        &::before {
            opacity: 1;

            @media screen and (max-width: 1279px) {
                top: -20%;
            }
        }
    }

    .swiper-button-prev {
        right: 50px;
        left: unset;
        &.swiper-button-disabled {
            right: 64px;
        }
    }

    .swiper-button-next {
        &::after {
            transform: translateX(25%);
        }
    }
}