.article-w-cards {
    padding: 45px 0;
    position: relative;

    .text-holder {
        margin-bottom: 35px;
    }

    .card {
        padding: 0 10px;

        .image-holder {
            margin-bottom: 10px;
        }

        .text-holder {
            color: $grey;
            font-weight: 300;
            font-size: 14px;
            margin: 0;
            
        }
    }
    
}