@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&family=Rowdies&display=swap');

.document {
    padding: 45px 0;

    .text-holder {
        margin-bottom: 25px;
    }

    .card-holder-wide {
        margin: 0 -10px 97px;

        .col-quotes {
            width: 50%;
            padding: 0 10px;

            @include media('<=tablet') {
                width: 80%;
                margin: 0 auto 20px;
            }
            
            .card {
                padding: 31px;
                min-height: 182px;
                border-radius: 10px;
                background-color: $orange;
                color: #fff;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                transition: all ease-in-out 0.3s;

                &:hover {
                    background-color: $blue;
                    box-shadow: 0px 10px 50px $blue;
                }

                @include media('<=desktop') {
                    min-height: 275px;
                }
            }
        }
    }

    .card-holder {
        margin: 0 -10px;

        .col {
            width: calc(100%/3);
            padding: 0 10px;
            position: relative;

            @include media('<=tablet') {
                width: 80%;
                margin: 0 auto 20px;
            }
            

            .card-small {
                padding: 67px 37px 42px 37px;
                background-color: #FFF;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
                border-radius: 10px;
                max-height: 182px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
                line-height: 25px;
                justify-content: center;
                transition: all ease-in-out 0.3s;

                @include media('<=desktop') {
                    padding: 40px 10px;
                    min-height: 220px;
                }

                @include media('<=tablet') {
                    padding: 40px;
                }
                
                .text-main {
                    font-size: 15px;
                    line-height: 25px;

                    @include media('<=desktop') {
                        padding-top: 30px;
                    }
                }

                .card-number {
                    font-family: 'Rowdies', cursive;
                    font-size: 48px;
                    color: $orange;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                }

                &:hover {
                    background-color: $blue;
                    color: #fff;
                    box-shadow: 0px 10px 50px $blue;

                    .text-main {
                        color: #fff;
                    }
                }
            }

            .btn-more {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40px;
                height: 20px;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;

                span {
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: $orange;
                    border-radius: 50%;
                    position: absolute;
                    bottom:10px;
                    right: 35px;

                    &:before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: $orange;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 0px;
                        right: 40px;    
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: $orange;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 0px;
                        right: 20px;    
                    }
                }
            }
        }
    }
}